# NOTE: Also refer to: .git/info/exclude

#*.pyi

*$py.class
*.pyc

*.mxt
!/signed_builds/*.mxt

_PREVIEW_BUILD_

dist/

build/

.idea/
*.iml

bin/

classes/
lib/

.DS_Store

mdbuildlibs/

.gradle/
userconfig/*
!userconfig/template/

user.properties
user.gradle.properties
priv_key
pub_key
