# NOTE: Also refer to: .git/info/exclude
user
priv_key*
pub_key*
user.properties
extension_keyfile.

*.pyi

*$py.class
*.pyc

*.mxt
!/signed_builds/*.mxt

_PREVIEW_BUILD_

dist
!bin/*.zip

build

.idea
*.iml

classes

lib/moneydance-dev.jar
lib/moneydance-private.jar
lib/moneydance.jar
lib/jdk_1.8_rt.jar

bin
!bin/repackage-jython
